<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bhariwala">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bhariwala">
        <activity android:name=".FlatImageSliderAcitivity"></activity>
        <activity android:name=".AddExpanseActivity" />
        <activity android:name=".AddDepositActivity" />
        <activity
            android:name=".ExpenseDepositMainAcitivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ActionBarApptheme" />
        <activity android:name=".UpdateAccountActivity" />
        <activity android:name=".classes.SignatureActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".AddNewParkingCarActivity"
            android:parentActivityName=".CarParkingListActivity"
            android:theme="@style/ActionBarApptheme" />
        <activity android:name=".CarParkingListActivity" />
        <activity
            android:name=".AssignServicemanToHomelordActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ActionBarApptheme" />
        <activity android:name=".ServicemanDetailsActivity" />
        <activity android:name=".AddServiceManActivity" />
        <activity android:name=".RentMangementHomelordActivity" />
        <activity android:name=".PayRentBillsActivity" />
        <activity android:name=".TenantPayBillActivity" />
        <activity android:name=".TenantPayBillsMainAcitivity" />
        <activity android:name=".HomeLordBillTenantActivity" />
        <activity android:name=".AdsListByCategoryActivity" />
        <activity android:name=".TenantMsgSendActivity" />
        <activity android:name=".HomeLordProfileActivity" />
        <activity android:name=".HomeLordTenantsActivity" />
        <activity android:name=".TenantDetailsActivity" />
        <activity
            android:name=".AssignTenantActivity"
            android:parentActivityName=".FlatActivity"
            android:theme="@style/ActionBarApptheme" />
        <activity android:name=".AdsDetailsActivity" />
        <activity
            android:name=".AddAdsActivity"
            android:theme="@style/ActionBarApptheme" />
        <activity android:name=".FlatDetailsActivity" />
        <activity android:name=".MessageMainAcitivity" />
        <activity android:name=".PayRentActivity" />
        <activity android:name=".FlatAdsDetailsActivity" />
        <activity android:name=".FlatAddsActivity" />
        <activity android:name=".CarParkingActivity" />
        <activity android:name=".ServiceManActivity" />
        <activity android:name=".BillsActivity" />
        <activity android:name=".MessgeAcitivity" />
        <activity android:name=".TenantListActivity" />
        <activity
            android:name=".FlatActivity"
            android:parentActivityName=".PropertyAcitivity"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".PropertyAcitivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".AddPropertyActivity"
            android:parentActivityName=".PropertyAcitivity"
            android:theme="@style/ActionBarApptheme" />
        <activity
            android:name=".SendMessageActivity"
            android:parentActivityName=".PropertyAcitivity"
            android:theme="@style/ActionBarApptheme" />
        <activity
            android:name=".AddFlatActivity"
            android:parentActivityName=".FlatActivity"
            android:theme="@style/ActionBarApptheme" />
        <activity android:name=".SignUPActivity" />
        <activity android:name=".SignInAcitvity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>