<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bhariwala">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bhariwala">
        <activity android:name=".AdsListByCategoryActivity"></activity>
        <activity android:name=".TenantMsgSendActivity" />
        <activity android:name=".TenantActivity" />
        <activity android:name=".HomeLordProfileActivity" />
        <activity android:name=".HomeLordTenantsActivity" />
        <activity android:name=".TenantDetailsActivity" />
        <activity
            android:name=".AssignTenantActivity"
            android:parentActivityName=".FlatActivity"
            android:theme="@style/ActionBarApptheme" />
        <activity android:name=".AdsDetailsActivity" />
        <activity
            android:name=".AddAdsActivity"
            android:theme="@style/ActionBarApptheme" />
        <activity android:name=".FlatDetailsActivity" />
        <activity android:name=".MessageMainAcitivity" />
        <activity android:name=".PayRentActivity" />
        <activity android:name=".FlatAdsDetailsActivity" />
        <activity android:name=".FlatAddsActivity" />
        <activity android:name=".CarParkingActivity" />
        <activity android:name=".ServiceManActivity" />
        <activity android:name=".BillsActivity" />
        <activity android:name=".MessgeAcitivity" />
        <activity android:name=".TenantListActivity" />
        <activity
            android:name=".RentManagementActivity"
            android:theme="@style/Theme.Design" />
        <activity
            android:name=".FlatActivity"
            android:parentActivityName=".PropertyAcitivity"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".PropertyAcitivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".AddPropertyActivity"
            android:parentActivityName=".PropertyAcitivity"
            android:theme="@style/ActionBarApptheme" />
        <activity
            android:name=".SendMessageActivity"
            android:parentActivityName=".PropertyAcitivity"
            android:theme="@style/ActionBarApptheme" />
        <activity
            android:name=".AddFlatActivity"
            android:parentActivityName=".FlatActivity"
            android:theme="@style/ActionBarApptheme" />
        <activity android:name=".SignUPActivity" />
        <activity android:name=".SignInAcitvity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>